<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text = "${titulo}"></title>
</head>
<body>
<h3 th:text = "${titulo}"></h3>
	<form th:action="@{/form}" th:object = "${usuario}" method="post"}>
<div>
				<label for="username">Nombre</label>
				<div>
					<input type=text id="Nombre" th:field="*{Nombre}">
		
				</div>
				
				<div th:if="${#fields.hasErrors('Nombre')}" th:errors="*{Nombre}"></div>
				
			</div>
			
			<div>
				<label for="username">Apellido</label>
				<div>
					<input type=text id="Apellido" th:field="*{Apellido}">
		
				</div>
				
				<div th:if="${#fields.hasErrors('Apellido')}" th:errors="*{Apellido}"></div>
				
			</div>
			<div>
				<label for="username">Username</label>
				<div>
					<input type=text id="username" th:field="*{username}">
		
				</div>
				
				<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
				
			</div>
			<div>
			<label for="Password">Password</label>
			<div>
				<input type=Password name="password" id="password" th:field="*{password}" >

			</div>
			
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		</div>

		<div>
			<label for="email">Correo</label>
			<div>
				<input type="email" name="email" id="email" th:field="*{email}">
			</div>
		</div>
			<div th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"></div>
	
			<div>
				<input type=submit value="Enviar">
			</div>

	</form>
</body>
</html>