.ContenedorPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0DE92;
  border: 2px solid black;
  padding: 20px;

  max-width: 100%; /* Agregamos un ancho máximo para adaptarse al ancho de la pantalla */
}

.ContenedorImagen {
  border: 4px solid black;
  border-radius: 10px;
  font-family: Consolas, monospace;
  background-color: #389352;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  margin-right: 5%; 
  max-width: 100%; /* Agregamos un ancho máximo para adaptarse al ancho de la pantalla */
}

.Formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Agregamos un ancho máximo para adaptarse al ancho de la pantalla */
}

.inputs {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%; /* Establecemos un ancho del 100% para que se ajuste al contenedor padre */
}

.Ciudad {
  font-family: Consolas;
  font-size: 2rem;
  margin: 10px;
}

.Temperatura {
  font-family: Consolas;
  font-size: 1.5rem;
  margin: 10px;
}

.Imagen {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  max-width: 100%; /* Agregamos un ancho máximo para adaptarse al ancho de la pantalla */
}

.Imagen img {
  width: 100%; /* Establecemos el ancho de la imagen en 100% para que se ajuste al contenedor */
}

iframe {
  margin-top: 20px;
}

label {
  font-family: Consolas;
  font-size: 1.2rem;
  margin: 10px;
}

iframe {
  margin: 0;
}

.ContenedorPrincipal, .Formulario {
  width: 100%;
}

.Imagen {
  width: 90%;
  text-align: center;
}



.Imagen iframe {
  max-width: 99%;
  height: 80vh;
  display: block;
  margin: 0 auto;
}